<div class="row">
  <div class="col-md-4">
    <input [(ngModel)]="productFilter" placeholder="ex: pao" type="text" class="ml-4 form-control col-4">
    <ul>
      <li *ngFor="let product of productList | slice:0:6">
        {{ product.name }} <button (click)="addDemandProduct(product)" mat-button color="primary">+</button>
      </li>
    </ul>
  </div>

  <div class="col-md-8">
    <mat-list>
      <mat-list-item *ngFor="let item of demand_products" >
        {{ item.name_product }} - R$ {{item.price}}
        <input type="number" class="ml-3 col-1" value="1">
      </mat-list-item>
      <br>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="alert alert-success" role="alert">
          <strong>Total:</strong> R$ {{ total_demand }}
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="alert alert-info" role="alert">
          <strong>dinheiro recebido:</strong> <input [(ngModel)]="value_entry" (blur)="changeMoney()" type="number" class="col-4 mr-3">(press tab)
          <strong>Troco: {{ change }}</strong>          
        </div>        
      </mat-list-item>
    </mat-list>    
    <button type="button" class="ml-3 btn btn-success" (click)="save()" >Enviar Pedido</button>
  </div>
</div>
